/****************************************************
*                      COLOR
*****************************************************/
$color-bg: #243D25;
$color-bg-variant: #82A284;
$color-maroon: #A25B5B;
$color-beige: #CC9C75;
$color-green-light: #D5D8B5;
$color-white: #FFF;
$color-primary: #F55C47  ;
$color-light: rgba(255, 255, 255, 0.6);
/****************************************************
*                      SIZING
*****************************************************/
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
/****************************************************
*                      ANIMATION
*****************************************************/
$transition-base: all 400ms ease;